@import "comments";
.rrt-card-image {
  background-position: center;
  object-fit: cover;
  maxHeight: 400px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  margin: 0;
  padding: 0;
}

.card {
  &.archive {
    h2 {
      letter-spacing: -1px;
      font-weight: 300;
      font-size: 26px;
      line-height: 31.2px;
    }
  }

  &.single {
    margin: 1em auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .card-block {
    padding: 1rem;
  }

  &.empty {
    height: 30rem;
  }
}

.meta-links, .meta-icon {
  font-size: 0.8rem;
  color: rgba(100, 100, 100, .9);
}

.post_next_to_box {
    display: block;
    width: 55px;
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 55px;
}

