@import "comments";

article {
  &.archive {
    h2 {
      letter-spacing: -1px;
      font-weight: 300;
      font-size: 26px;
      line-height: 31.2px;
    }
  }

  &.single {
    margin: 1em auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .card-block {
    padding: 1rem;
  }

  &.empty {
    height: 30rem;
  }
}

.cat-links, .cat-icon {
  font-size: 0.8rem;
}

a {
color: rgb(27,29,33);
}

