.card-columns {
  //@media (min-width: 576px) {
  //  column-count: 2;
  //}
  //@media (min-width: 992px) {
  //  column-count: 3;
  //}
  //@media (min-width: 1200px) {
  //  column-count: 4;
  //}
}

//#postsContainer {
//  min-height: 80vh;
//}

.container-fluid{
  padding: 0;
  margin: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.card {
  border: none!important;
}

.card-body {
  padding: 0.25rem!important;
}

a  {
  text-decoration: none;
  transition: all .1s linear;
  color: rgb(27,29,33)!important;
}

a:hover, .rrt_dark_link {
  text-decoration: none!important;
  opacity: 0.6!important;
  //background-color: #555;
}

a:active, .rrt_dark_link  {
  background-color: black;
}

a:visited, .rrt_dark_link  {
  background-color: #ccc;
}

._loading_overlay_content {
  //position: absolute;
  top: 100px!important;
  margin-top: 100px;
}